@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".LoginContainer").removeAttr('style');
            $(".LoginContainer").removeClass("LoginContainer");
        });
       
    </script>
}

<div class="LoginContainer" style="background-color:#921B1E">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3 text-center">
                <div class="card-header">@ViewBag.Title</div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <address>
                                Corporate Office

                                No 36, Jalan Penghulu 10/3,
                                Bandar Mahkota Cheras,
                                43200 Cheras, Selangor Darul Ehsan, Malaysia

                                Tel: 012-3812538


                            </address>

                           
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-start">
                    <div class="row">
                        <address>
                            <strong>Support:</strong>   <a href="mailto:harris@gomyshops.com">harris@gomyshops.com</a><br />
                        </address>

                    </div>
                </div>
            </div>
           
        </div>       
    </div>
</div>







