<div class="itemPriorityList1Container">
    <div id="table-wrapper" class="table-responsive">
        <table id="tblPrioritylist" class="tblPrioritylist"
               data-classes="table table-no-bordered"
               data-bs-toggle="table"
               data-maintain-selected="false"
               data-row-style="TableListrowStyle">
            <thead>
                <tr>
                    <th data-field="id" data-sortable="false" class="d-xs-none d-sm-none d-md-none d-lg-none d-xl-none">Id</th>
                    <th data-field="title" data-sortable="false" class="col-md-3">Title</th>
                    <th data-field="sCreateDate" data-sortable="false" class="col-md-2">Create Date</th>
                    <th data-field="sStartDate" data-sortable="false" class="col-md-2">Start Date</th>
                    <th data-field="sEndDate" data-sortable="false" class="col-md-2">End Date</th>
                    <th data-field="type" data-sortable="false" class="col-md-1">Type</th>
                    @*<th data-field="Priority" data-sortable="false" class="col-md-1">Priority</th>*@
                    <th data-field="targetAudience" data-sortable="false" class="col-md-2">Target Audience</th>
                </tr>
            </thead>
            <tbody id="tbodyPriorityList" class="source connected"></tbody>
        </table>
    </div>
</div>
